<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <form method="POST" action="/login">
        <div class="row">
            <span>EmailId:</span> <input name="email" type="text" />
        </div>
        <br><br>
        <div class="row">
            <span>Password:</span> <input name="password" type="password" />
        </div>
        <br><br>
        <div class="row">
            <button type="submit">Login</button>
        </div>
    </form>
    <style>
        .row {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        .row input {
            margin-left: 20px;
        }
    </style>
</body>

</html>